*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --main-background-color: rgb(26, 148, 255);
}
header {
    background-color: rgb(26, 148, 255);
}
/* Nav */

/* Body */
    /* Slide */
.slide-show{
    width: 50%;
    margin: auto;
    margin-top: 3%; 
    height: 510px;
    background-color: var(--main-background-color);
}
/* div .category{
    margin-top: 5%;
    background-color: var(--main-background-color);
    float: left;
    width: 30%;
} */

#product {
    margin-top: 5%;
    background-color: var(--main-background-color);
    margin: auto;
    padding: auto;
}
#product h2{
    color: white;
    text-align: center;
    padding: 1%;
}
#product .card{
    width:100%; 
    height: 100%;
}
#product .card h4{
    color: red;
}

footer{
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    margin-top: 3%;
}

.tK{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    border:1px solid #DDDDE3;
    border-radius:8px;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.tK .icon-search{
    width:20px;
    height:20px;
    margin:0 0 0 18px;
}

data-styled.g763[id="timKiem"]{
        content:"tK,"
}

.sB{
    border:0px;
    padding:0 8px;
    font-weight:400;
    font-size:18px;
    line-height:150%;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    outline:none;
}

.sB::-webkit-input-placeholder{
    color:#808089;
    font-size:16px;
}

.sB::-moz-placeholder{
    color:#808089;
    font-size:16px;
}

.sB:-ms-input-placeholder{
    color:#808089;
    font-size:16px;
}

.sB::placeholder{
    color:#808089;
    font-size:16px;
}

data-styled.g764[id="searchBar"]{
    content:"sB,"
}

.sBtn{
    cursor:pointer;
    border:0px;
    width:92px;
    height:38px;
    padding:4px;
    border-radius:0 8px 8px 0;
    background:transparent;
    color:#0A68FF;
    font-weight:400;
    font-size:14px;
    line-height:150%;
    outline:none;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    position:relative;
}

.sBtn:before{
    content:'';
    display:block;
    position:absolute;
    border-left:1px solid #DDDDE3;
    height:24px;
    left:0;
    top:8px;
}

.sBtn:hover{
    background-color:rgba(10,104,255,0.2);
}

.sBtn:active{
    background-color:rgba(10,104,255,0.4);
}

data-styled.g765[id="searchButton"]{
    content:"sBtn,"
}

.option{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    margin-left: -35px;
}

.option .cart-wrapper{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:40px;
    height:40px;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.option .cart-wrapper .cart-icon{
    margin-right:0;
    border-radius:unset;
}

.trangChu{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:8px 16px;
    cursor:pointer;
    position:relative;
    border-radius:8px;
}

.trangChu:hover{
    background-color:rgba(0,96,255,0.12);
}

.trangChu:active{
    background-color:rgba(0,96,255,0.24);
}

.trangChu img{
    width:24px;
    height:24px;
    margin-right:4px;
    border-radius:50%;
}

.trangChu a,.trangChu > span{
    font-weight:500;
    font-size:14px;
    line-height:150%;
    color:#0A68FF;
}

.trangChu:hover .toggler{
    display:block;
}

.taiKhoan{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:8px 16px;
    cursor:pointer;
    position:relative;
    border-radius:8px;
}

.taiKhoan:hover{
    background-color:rgba(39,39,42,0.12);
}
.taiKhoan:active{
    background-color:rgba(39,39,42,0.24);
}
.taiKhoan img{
    width:24px;
    height:24px;
    margin-right:4px;
    border-radius:50%;
}

.taiKhoan a,.taiKhoan > span{
    font-weight:400;
    font-size:14px;
    line-height:150%;
    color:#808089;
}

.taiKhoan:hover .toggler{
    display:block;
}

.cart{
    position:relative;
    display:block;
}

.cart:hover{
    opacity:1;
}